<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      </style>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Actions</th>
            <th scope="col">To:</th>
            <th scope="col">From:</th>
            <th scope="col">Title:</th>
            <th scope="col">Message:</th>
          </tr>
        </thead>
        <tbody>
          {% for catatan in Notes %}
        <tr>
            <td>
                <div class="btn-group-vertical">
                <!-- <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"> -->
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button type="button" class="btn btn-secondary">View</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
            </td>
            <td>{{catatan.to}}</td>
            <td>{{catatan.From}}</td>
            <td>{{catatan.title}}</td>
            <td>{{catatan.message}}</td>
        </tr>
      {% endfor %}
      </table>
  </body>
</html>