<!DOCTYPE html>
<html>
    <body>

        <h3>Add a new Friend</h3>
        
        <div>
          <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        
            <input type="submit" value="Submit">
          </form>
        </div>
        
        </body>
        
</html>