<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>Birth Date</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for friend in friends %}
    <tr>
        <td>{{friend.name}}</td>
        <td>{{friend.npm}}</td>
        <td>{{friend.tanggalLahir}}</td>
    </tr>
      {% endfor %}
      <!-- ref: https://www.geeksforgeeks.org/for-loop-django-template-tags/-->
    </table>
  </body>
</html>