<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      </style>
  </head>
  <body>
    <table style="width:50%">
    <!--<table>-->
      <tr>
        <th>To:</th>
        <th>From:</th>
        <th>Title:</th>
        <th>Message</th>
      </tr>
      <tr>
        <td>Rara</td>
        <td>Raraa ^^</td>
        <td>How are youu?</td>
        <td>Jangan stress mulu ya :')</td>
      </tr>

      <!-- TODO loop from Note model -->
      <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
      {% for catatan in Notes %}
    <tr>
        <td>{{catatan.to}}</td>
        <td>{{catatan.from_attribute}}</td>
        <td>{{catatan.title}}</td>
        <td>{{catatan.message}}</td>
    </tr>
      {% endfor %}
      <!-- ref: https://www.geeksforgeeks.org/for-loop-django-template-tags/-->
    </table>
  </body>
</html>